@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */

/* @font-face {
  font-family: majorMono;
  src: url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
} */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
#root{
  font-family: 'Inter';
  /* font-style: light; */
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  box-sizing: border-box;
  background-color:  #faf6e2;
  /* background-image: url('/assets/Graypapertexture.png') ; */
  /* background-blend-mode:darken; */
  color: #1D1911;
  /* color: #4f4e4d; */

  margin: 0;

  overflow-x: hidden;
  
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
